In [1]:
from googleapiclient.discovery import build
import pandas as pd
import seaborn as sns

In [2]:
api_key = 'AIzaSyAuiZerniFZY8LRvgtQnIPMZEGUHi_g5Cg'
youtube = build('youtube', 'v3', developerKey=api_key)


## Extracting the Video-ID from the url

In [3]:
video_url="https://www.youtube.com/watch?v=jNQXAC9IVRw"
start=video_url.index("v=")
end=video_url.find("&ab_channel")
if end==-1:
    end=len(video_url)
k=""
for i in range(start+2,end):
    k=k+video_url[i]
video_ids=[k]

## Function to get video details

In [4]:
def get_video_details(youtube, video_ids):
    all_video_stats = []
    
    for i in range(0, len(video_ids), 50):
        request = youtube.videos().list(
                    part='snippet,statistics',
                    id=','.join(video_ids[i:i+50]))
        response = request.execute()
        
        for video in response['items']:
            video_stats = dict(Title = video['snippet']['title'],
                               Published_date = video['snippet']['publishedAt'],
                               Views = video['statistics']['viewCount'],
                               Likes = video['statistics']['likeCount'],
                               
                              
                               )
            all_video_stats.append(video_stats)
    
    return all_video_stats

In [5]:
video_details = get_video_details(youtube, video_ids)

In [6]:
video_data = pd.DataFrame(video_details)

In [7]:
video_data['Published_date'] = pd.to_datetime(video_data['Published_date']).dt.date
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data['Likes'] = pd.to_numeric(video_data['Likes'])
video_data['Views'] = pd.to_numeric(video_data['Views'])
video_data

           Title Published_date      Views     Likes
0  Me at the zoo     2005-04-24  236300979  12080159

In [8]:
video_data

           Title Published_date      Views     Likes
0  Me at the zoo     2005-04-24  236300979  12080159

In [9]:
video_data['Month'] = pd.to_datetime(video_data['Published_date']).dt.strftime('%b')

In [10]:
video_data

           Title Published_date      Views     Likes Month
0  Me at the zoo     2005-04-24  236300979  12080159   Apr

In [11]:
video_data.to_csv('Video_Details.csv')